@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    z-index: 99;
}

.title {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .1s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.wrapper{
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    user-select: none;
    
    width: 400px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';

    transform: scaleY(0);
    transition: transform .5s;

    overflow: hidden;
}

.wrapper.popup {
    transform: scaleY(1);
}

.icon-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

.input-box textarea{
    resize: none; width: 310;
    background: transparent;
    border: transparent;

    font-size: 1em;
}

.input-box label { 
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: transform .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    border: none;
    outline: none;
    font-size: 1em;
}
.input-box input:focus~label,
.input-box input:valid~label {
    transform: translateY(-40px);
    transition: transform .5s;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    margin: -15px 0 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: wavy;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.submitbtn {
    cursor: pointer;
    width: 100%;
    height: 45px;
    background-color: white;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
}

.login-register p a:hover {
    color: black;
    text-decoration: underline;
}

.MainTitle {
    color: white;
    align-self: center;
    width: 100%;
    font-size: 60;
    background: transparent;
    
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
}

.MainDescription {
    color: white;
    align-self: center;
    width: 100%;
    font-size: 60;
    background: transparent;
    
    position: absolute;
    top: 28%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
}

.download1{
    color: black;
    align-self: center;
    width: 100%;
    font-size: 60;
    background: transparent;
    text-decoration: none;

    position: absolute;
    top: 28%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.download2{
    color: black;
    align-self: center;
    width: 100%;
    font-size: 60;
    background: transparent;
    text-decoration: none;

    position: absolute;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.texts1{
    color: white;
    align-self: center;
    width: 50%;
    font-size: 60;
    background: transparent;
    
    position: absolute;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;

    transform: scale(1) rotate(0deg);
    transition: transform .2s;
}

.texts1:hover{
    transform: scale(1.2) rotate(5deg);
    transition: transform .2s;
}

.navigation .btnContact {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnContact:hover {
    background: white;
    color: black;
}